doctype html
html
  head
    title= title
    link(rel='stylesheet', href="/vendor/bootstrap/dist/css/bootstrap.css") 
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/angular-route/angular-route.js")
    script(src="/javascripts/app.js")
    script(src="/javascripts/home/home_ctrl.js")
    script(src="/javascripts/things/things_new_ctrl.js")
    script(src="/javascripts/things/things_ctrl.js")
    script(src="/javascripts/things/things_edit_ctrl.js")
    script(src="/javascripts/things/things_svc.js")
    script(src="/javascripts/people/people_ctrl.js")
    script(src="/javascripts/people/people_new_ctrl.js")
    script(src="/javascripts/people/people_svc.js")
    base(href="/")
  body(ng-app='my_world')
    block content
